:root {
    --primary : #001;
    --accent : #3F3;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--primary);
}

#app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-size: clamp(12vmax, 50pt, 72pt);
}

button {
    width: clamp(5vmax, 60px, 150px);
    aspect-ratio: 1;
    font-size: clamp(4vmax, 24pt, 48pt);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 7px var(--accent);
    background-color: var(--primary);
    color: var(--accent);
    cursor: pointer;
    transition: 400ms;
}
button:hover {
    box-shadow: 0 0 20px var(--accent);
}

span {
    max-width: 30vw;
    padding: 4vmax;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--primary);
    cursor: default;
    transition: 400ms;
}
span:hover {
    background-color: var(--primary);
    color: var(--accent);
    border: 1px solid var(--accent);
    animation: tilt 500ms infinite linear;
}
*::selection {
    background-color: transparent;
}


@media screen and (orientation: landscape) {

    body {
        justify-content: space-evenly;
        padding: 0 10%;
    }

}

@keyframes tilt {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0);
    }
}